body {
	margin:0px;
    background:#136798;
}
.usuario{

}
.header-cont {
    width:100%;
    position:fixed;
    top:0px;
   }

.header{
	height:160px;
    background:#FFFFFF;
    border:1px solid #CCC;
    width:75%;
    margin:0px auto;
}
